<div class="player_section">
  <div class="player_icon_wrap">
    <div class="{{player1.className}} player_icon"
         ng-class="{ player_icon_default: !player1.className}"
         ng-click="player_list1 = true"></div>
    <span ng-show="!player1.className">
        <br/>
				клікніть на іконку щоб вибрати собі гравця
        <ul class="player_list" ng-show="player_list1">
          <li ng-class="minion.name" ng-click="setClassToPlayer(1, minion.name); player_list1 = false"
              ng-repeat="minion in minions"></li>
        </ul>
		</span>
  </div>
  <div class="player_board">
    <br/>
    Виграв: {{player1.wins}}
  </div>

</div>